{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : Dimension With Task == #}
{# == Node Type Description    : This node creates a dimension table and a task to merge data into dimension table == #}

{# Create / Alter Table first #}
{% if desiredState == currentState %}

    {{ stage('No table edits.') }}
    select 1 = 0

{% elif desiredState %}

    {% set targetTableDatabase = ref_no_link(desiredState.node.location.name, desiredState.node.name).split('.')[0] %} 
    {% set targetTableSchema = ref_no_link(desiredState.node.location.name, desiredState.node.name).split('.')[1] %} 
    {% set fullyQualifiedTargetTableName = ref_no_link(desiredState.node.location.name, desiredState.node.name) %}

    {# Test if Business Key changed #}
    {% set nsVariables = namespace(businessKeyChanges=0) %}
    {% if currentState != undefined %}
        {% for businessKeyCol in currentState.columns if nsVariables.colchanges == 0 %}        
            {% if businessKeyCol.id in desiredState.columns | map(attribute="id") %}
                {% set currentBusinessKeyCol = businessKeyCol.isBusinessKey %}

                {% set desiredBusinessKeyCol = desiredState.columns | selectattr('id', "equalto", businessKeyCol.id) | map(attribute='isBusinessKey') | first %}

                {% if currentBusinessKeyCol != desiredBusinessKeyCol %}
                    {% set nsVariables.businessKeyChanges = 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for businessKeyCol in desiredState.columns if nsVariables.businessKeyChanges == 0 %}        
            {% if businessKeyCol.id in currentState.columns | map(attribute="id") %}
                {% set desiredBusinessKeyCol = businessKeyCol.isBusinessKey %}

                {% set currentBusinessKeyCol = currentState.columns | selectattr('id', "equalto", businessKeyCol.id) | map(attribute='isBusinessKey') | first %}

                {% if currentBusinessKeyCol != desiredBusinessKeyCol %}
                    {% set nsVariables.businessKeyChanges = 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {# Figure out cluster key #}
    {% set nsVariables = namespace(finalClusterKey="") %}
    {% if desiredState.config.clusterKey == true %}
        {% if desiredState.config.clusterKeyExpressions == true %}
            {% set column, expression = desiredState.config.clusterKeyConfigExpressions.get('items') | map(attribute='columnNameExpressions.name') | list, desiredState.config.clusterKeyConfigExpressions.get('items') | map(attribute='sqlExpression') | list %}

            {%- set nsVariables = namespace(clusterValues=[]) %}

            {% for r in column %}
                {% if expression[loop.index0] == "" %}
                    {% set nsVariables.clusterValues = nsVariables.clusterValues + [r] %}
                {% else %}
                    {% set nsVariables.clusterValues = nsVariables.clusterValues + [expression[loop.index0]] %}
                {% endif %}
            {% endfor %}

            {% set nsVariables.finalClusterKey = 'CLUSTER BY (' + nsVariables.clusterValues | join(',') + ')' %}

        {% else %}

            {% set column = desiredState.config.clusterKeyConfig.get('items') | map(attribute='columnName.name') | list %}

            {%- set nsVariables = namespace(clusterValues=[]) %}

            {% for r in column %}
                {% set nsVariables.clusterValues = nsVariables.clusterValues + [r] %}
            {% endfor %}

            {% set nsVariables.finalClusterKey = 'CLUSTER BY (' + nsVariables.clusterValues | join(',') + ')' %}

        {% endif %}
    {% endif %}

    {% if currentState == undefined or nsVariables.colchanges == 1 %}
        {{ stage('Create Dimension Table', true, "sql", "create") }}
        CREATE OR REPLACE TABLE {{ fullyQualifiedTargetTableName }}
        (
            {% for col in desiredState.columns %}
                "{{ col.name }}" {{ col.dataType }}
                {% if col.isSurrogateKey %}
                    identity
                {% endif %}
                {%- if not col.nullable %} NOT NULL
                    {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
                {% endif %}
                {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
                {%- if not loop.last -%}, {% endif %}
            {% endfor %}
        )
        {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'{% endif %}

        {% if desiredState.config.clusterKey == true %}
            {{ stage('Apply Table Clustering', true, "sql", "create") }}
            ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} {{ nsVariables.finalClusterKey }}

            {{ stage('Resume Recluster Table', true, "sql", "create") }}
            ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} RESUME RECLUSTER
        {% endif %}

    {% elif currentState != undefined %}

        {# Change Node Name or Change Storage Location #}
        {# Storage Location Tests #}
        {# Only need to account for updated Storage Location mappings   #}
        {# Current Namespace Varialbes #}
        {% set nsVariables = namespace(nsCurrentDepStorageLocations="") %}
        {% set nsVariables = namespace(nsCurrentSourceStorageLocations="") %}
        {% set nsVariables = namespace(nsCurrentTargetStorageLocations="") %}
        {% set nsVariables = namespace(nsCurrentUsedStorageLocations="") %}

        {# Current State Storage Location Info #}
        {% for source in currentState.sources %}
            {% for dep in source.dependencies %}
                {% set depSourceLocation = dep.node.location.name %}
                {% if loop.first %}
                    {% set nsVariables.nsCurrentDepStorageLocations = depSourceLocation %}
                {% else %}
                    {% set nsVariables.nsCurrentDepStorageLocations = nsVariables.nsCurrentDepStorageLocations + ',' + depSourceLocation %}
                {% endif %}
            {% endfor %}
            
            {% if loop.first %}
                {% set nsVariables.nsCurrentSourceStorageLocations = nsVariables.nsCurrentDepStorageLocations %}
            {% else %}
                {% set nsVariables.nsCurrentSourceStorageLocations = nsVariables.nsCurrentSourceStorageLocations + ',' + nsVariables.nsCurrentDepStorageLocations %}
            {% endif %}
        {% endfor %}

        {% set nsVariables.nsCurrentTargetStorageLocations = currentState.node.location.name  %}

        {% set nsVariables.nsCurrentUsedStorageLocations = nsVariables.nsCurrentSourceStorageLocations + ',' + nsVariables.nsCurrentTargetStorageLocations %}

        {% set currentStorageLocations = (nsVariables.nsCurrentUsedStorageLocations).split(',') | list %}
        {% set currentUniqueStorageLocations = currentStorageLocations | unique | sort | list %}

        {# Desired Namespace Variables #}
        {% set nsVariables = namespace(nsDesiredDepStorageLocations="") %}
        {% set nsVariables = namespace(nsDesiredSourceStorageLocations="") %}
        {% set nsVariables = namespace(nsDesiredTargetStorageLocations="") %}
        {% set nsVariables = namespace(nsDesiredUsedStorageLocations="") %}

        {% set nsVariables = namespace(storageLocationTest="") %}

        {# Desired State Storage Location Info #}
        {% for source in desiredState.sources %}
            {% for dep in source.dependencies %}
                {% set depSourceLocation = dep.node.location.name %}
                {% if loop.first %}
                    {% set nsVariables.nsDesiredDepStorageLocations = depSourceLocation %}
                {% else %}
                    {% set nsVariables.nnsDesiredDepStorageLocations = nsVariables.nsDesiredDepStorageLocations + ',' + depSourceLocation %}
                {% endif %}
            {% endfor %}
            
            {% if loop.first %}
                {% set nsVariables.nsDesiredSourceStorageLocations = nsVariables.nsDesiredDepStorageLocations %}
            {% else %}
                {% set nsVariables.nsDesiredSourceStorageLocations = nsVariables.nsDesiredSourceStorageLocations + ',' + nsVariables.nsDesiredDepStorageLocations %}
            {% endif %}
        {% endfor %}

        {% set nsVariables.nsDesiredTargetStorageLocations = desiredState.node.location.name  %}

        {% set nsVariables.nsDesiredUsedStorageLocations = nsVariables.nsDesiredSourceStorageLocations + ',' + nsVariables.nsDesiredTargetStorageLocations %}

        {% set desiredStorageLocations = (nsVariables.nsDesiredUsedStorageLocations).split(',') | list %}
        {% set desiredUniqueStorageLocations = desiredStorageLocations | unique | sort | list %}

        {# Test  #}
        {% set nsVariables.storageLocationTest = true %}
        {% set nodeCommentTest = currentState.node.description == desiredState.node.description %}

        {% for name in desiredUniqueStorageLocations if nsVariables.storageLocationTest == true %}
            {# Current mappings #}
            {% set currentDatabase = currentState.storageLocations | selectattr('name', 'equalto', name) | map(attribute='database') | first %}
            {% set currentSchema = currentState.storageLocations | selectattr('name', 'equalto', name) | map(attribute='schema') | first %}
            {% set currentDatabaseSchema = currentDatabase + '.' + currentSchema %}
            
            {# Desired mappings #}
            {% set desiredDatabase = desiredState.storageLocations | selectattr('name', 'equalto', name) | map(attribute='database') | first %}
            {% set desiredSchema = desiredState.storageLocations | selectattr('name', 'equalto', name) | map(attribute='schema') | first %}
            {% set desiredDatabaseSchema = desiredDatabase + '.' + desiredSchema %}

            {% if currentDatabaseSchema != desiredDatabaseSchema %}
                {% set nsVariables.storageLocationTest = false %}
            {% endif %}
        {% endfor %}

        {# Clustering Test #}
        {% set clusterKeyTest = currentState.config.clusterKey == desiredState.config.clusterKey %}
        {% set clusterKeyExpressionsTest = currentState.config.clusterKeyExpressions == desiredState.config.clusterKeyExpressions %}
        {% set clusterKeyConfigTest = currentState.config.clusterKeyConfig == desiredState.config.clusterKeyConfig %}
        {% set clusterKeyConfigExpressionsTest = currentState.config.clusterKeyConfigExpressions == desiredState.config.clusterKeyConfigExpressions %}

        {% if 
            clusterKeyTest == false or
            clusterKeyExpressionsTest == false or
            clusterKeyConfigTest == false or
            clusterKeyConfigExpressionsTest == false %}

            {% set clusterTest = false %}
        {% else %}
            {% set clusterTest = true %}
        {% endif %}

        {# Rename / Move Object #}
        {% if (nsVariables.storageLocationTest == false or currentState.node.name != desiredState.node.name) %}
            {{ stage('Rename and / or Move Table', true, "sql", "alter") }}
            ALTER TABLE {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}
            RENAME TO   {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
        {% endif %}

        {# Change table description #}
        {% if (nsVariables.nodeCommentTest == false or currentState.node.description != desiredState.node.description) %}
            {{ stage('Change table description', true, "sql", "alter") }}
            ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
            SET COMMENT = '{{ desiredState.node.description | escape }}'
        {% endif %}

        {# Drop Columns #}
        {% set nsVariables = namespace(colchanges=0) %}
        {% for dropCurCol in currentState.columns %}
            {% if dropCurCol.id not in desiredState.columns | map(attribute="id") %}
            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                {% if nsVariables.colchanges == 1 %}
                    {{ stage('Drop Columns', true, "sql", "alter") }}
                    ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                    DROP COLUMN 
                {% else %}
                    , 
                {% endif %}
                "{{ dropCurCol.name }}"
            {% endif %}
        {% endfor %}

        {# Add Columns #}
        {% set nsVariables = namespace(colchanges=0) %}
        {% for addDesCol in desiredState.columns %}
            {% if addDesCol.id not in currentState.columns | map(attribute="id") %}
            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                {% if nsVariables.colchanges == 1 %}
                    {{ stage('Add Columns', true, "sql", "alter") }}
                    ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                    ADD COLUMN
                {% else %}
                    ,
                {% endif %}
                    "{{ addDesCol.name }}" {{ addDesCol.dataType }}
                    {%- if not addDesCol.nullable %} NOT NULL
                        {%- if addDesCol.defaultValue | length > 0 %} DEFAULT {{ addDesCol.defaultValue }}{% endif %}
                    {% endif %}
                    {%- if addDesCol.description | length > 0 %} COMMENT '{{ addDescol.description | escape }}'{% endif %}
            {% endif %}
        {% endfor %}

        {# Rename Columns #}
        {% for renameCurCol in currentState.columns %}
            {% if renameCurCol.id in desiredState.columns | map(attribute="id") %}
                {% set desiredColumnName = desiredState.columns | selectattr('id', 'equalto', renameCurCol.id) | map(attribute='name') | first %}
                {% if renameCurCol.name != desiredColumnName %}
                    {{ stage('Rename Column ' + renameCurCol.name, true, "sql", "alter") }}
                    ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                    RENAME COLUMN "{{ renameCurCol.name }}"
                    TO "{{ desiredColumnName }}"
                {% endif %}
            {% endif %}
        {% endfor %}

        {# Change data types or other column level chnages #}
        {% set nsVariables.colchanges = 0 %}
        {% for alterCurCol in currentState.columns %}        
            {% if alterCurCol.id in desiredState.columns | map(attribute="id") %}
                {% set currentDatatype = alterCurCol.dataType %}
                {% set currentNullable = alterCurCol.nullable %}
                {% set currentDefaultValue = alterCurCol.defaultValue %}
                {% set currentDescription = alterCurCol.description %}

                {% set desiredColumnName = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='name') | first %}
                {% set desiredDatatype = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='dataType') | first %}
                {% set desiredNullable = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='nullable') | first %}
                {% set desiredDefaultValue = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='defaultValue') | first %}
                {% set desiredDescription = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='description') | first %}

                {% set datatypeTest = currentDatatype == desiredDatatype %}
                {% set nullableTest = currentNullable == desiredNullable %}
                {% set defaultValueTest = currentDefaultValue == desiredDefaultValue %}
                {% set descriptionTest = currentDescription == desiredDescription %}

                {% if (datatypeTest == false or 
                        nullableTest == false  or
                        defaultValueTest == false or
                        descriptionTest == false) %}
                    {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                    {% if nsVariables.colchanges == 1 %}
                        {{ stage('Change Column Attributes', true, "sql", "alter") }}
                        ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                        MODIFY
                    {% endif %}
                    {% if datatypeTest == false %}
                        {% if nsVariables.colchanges > 1 %},{% endif %}
                        COLUMN "{{ desiredColumnName }}"
                        SET DATA TYPE {{ desiredDatatype }}
                        {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                    {% endif %}
                    {% if nullableTest == false %}
                        {% if nsVariables.colchanges > 1 %},{% endif %}
                        COLUMN "{{ desiredColumnName }}"
                        {% if currentNullable == true %}
                            SET
                        {% else %}
                            DROP
                        {% endif %}
                        NOT NULL
                        {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                    {% endif %}
                    {% if descriptionTest == false %}
                        {% if nsVariables.colchanges > 1 %},{% endif %}
                        COLUMN "{{ desiredColumnName }}"
                        COMMENT '{{ desiredDescription }}'
                        {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                    {% endif %}
                    {% if defaultValueTest == false %}
                        {% if nsVariables.colchanges > 1 %},{% endif %}
                        COLUMN "{{ desiredColumnName }}"
                        {% if desiredDefaultValue == '' %}
                            DROP DEFAULT
                        {% else %}
                            SET DEFAULT {{ desiredDefaultValue }}
                        {% endif %}
                        {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                    {% endif %}
                    
                {% else %}
                                        
                {% endif %}
            {% endif %}
        {% endfor %}
        
        {# Figure out cluster key #}
        {% set nsVariables = namespace(finalClusterKey="") %}
        {% if clusterTest == false %}
            {% if desiredState.config.clusterKeyExpressions == true %}
                {% set column, expression = desiredState.config.clusterKeyConfigExpressions.get('items') | map(attribute='columnNameExpressions.name') | list, desiredState.config.clusterKeyConfigExpressions.get('items') | map(attribute='sqlExpression') | list %}

                {%- set nsVariables = namespace(clusterValues=[]) %}

                {% for r in column %}
                    {% if expression[loop.index0] == "" %}
                        {% set nsVariables.clusterValues = nsVariables.clusterValues + [r] %}
                    {% else %}
                        {% set nsVariables.clusterValues = nsVariables.clusterValues + [expression[loop.index0]] %}
                    {% endif %}
                {% endfor %}

                {% set nsVariables.finalClusterKey = 'CLUSTER BY (' + nsVariables.clusterValues | join(',') + ')' %}

            {% elif desiredState.config.clusterKey == true %}

                {% set column = desiredState.config.clusterKeyConfig.get('items') | map(attribute='columnName.name') | list %}

                {%- set nsVariables = namespace(clusterValues=[]) %}

                {% for r in column %}
                    {% set nsVariables.clusterValues = nsVariables.clusterValues + [r] %}
                {% endfor %}

                {% set nsVariables.finalClusterKey = 'CLUSTER BY (' + nsVariables.clusterValues | join(',') + ')' %}
            
            {% else %}

                {% set nsVariables.finalClusterKey = 'DROP CLUSTERING KEY' %}

            {% endif %}

            {{ stage('Recluster TABLE', true, "sql", "create") }}
            ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
            {{ nsVariables.finalClusterKey }}

        {% endif %}

    {% endif %}

{% elif currentState != undefined and desiredState == undefined %}

    {# Table or View Name #}
    {% set targetObjectDatabase = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[0] %} 
    {% set targetObjectSchema = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[1] %} 
    {% set fullyQualifiedTargetObjectName = ref_no_link(currentState.node.location.name, currentState.node.name) %}

    {{ stage('Drop Table', true, "sql", "drop") }}
    DROP {{ currentState.node.materializationType }} IF EXISTS {{ fullyQualifiedTargetObjectName }}

{%- else -%}

{{ stage('No table edits.  Unknown state.') }}
select 1 = 0

{% endif %}

{# Create Task Second #}
{% if desiredState == currentState %}

    {{ stage('No task edits.') }}
    select 1 = 0

{% elif desiredState %}

    {# Target Table Info #}
    {% set targetTableDatabase = ref_no_link(desiredState.node.location.name, desiredState.node.name).split('.')[0] %} 
    {% set targetTableSchema = ref_no_link(desiredState.node.location.name, desiredState.node.name).split('.')[1] %} 
    {% set fullyQualifiedTargetTableName = ref_no_link(desiredState.node.location.name, desiredState.node.name) %}


    {% if desiredState.config.devMode == false %}
        {%- if desiredState.config.schedulePeriodOption == 'Predecessor' -%} 
            {%- set fullyQualifiedRootTaskName = targetTableDatabase + '.' + targetTableSchema + '."' + desiredState.config.rootTask + '"' -%} 
            {{ stage('Suspend Root Task', true, "sql", "alter") }}
            ALTER TASK {{ fullyQualifiedRootTaskName }} SUSPEND
        {%- endif -%}

        {{ stage('Create Task', true, "sql", "alter") }}
        {# Set Namespace Variables #}
        {% set nsVariables = namespace(taskWhenRun="") %}
        {% set nsVariables = namespace(poll="WHEN ") %}

        {# Task Info #}
        {% set taskName = desiredState.node.name + '_TASK'  %}
        {%- set fullyQualifiedTaskName = targetTableDatabase + '.' + targetTableSchema + '."' + taskName + '"' -%} 

        {# Task Type #}
        {%- if desiredState.config.schedulingMode == 'Warehouse Task' -%} 
            {# Can be updated during deployment via a parameter to account for different warehouse names in different deployments #}
            {% if desiredState.parameters.targetTaskWarehouse == 'DEV ENVIRONMENT' %}
                {% set taskType = 'WAREHOUSE = ' + desiredState.config.whName %}
            {% else %}
                {% set taskType = 'WAREHOUSE = ' + desiredState.parameters.targetTaskWarehouse %}
            {% endif %}
        {%- else -%}
            {%- set taskType = 'USER_TASK_MANAGED_INITIAL_WAREHOUSE_SIZE = ' + desiredState.config.serverlessSize -%} 
        {%- endif -%}

        {# Schedule Type #}
        {%- if desiredState.config.schedulePeriodOption == 'Minutes' -%} 
            {%- set nsVariables.taskWhenRun = 'SCHEDULE = ' + "'" + desiredState.config.schedulePeriod + ' MINUTE' + "'" -%} 
        {% elif desiredState.config.schedulePeriodOption == 'CRON' %}
            {%- set nsVariables.taskWhenRun = 'SCHEDULE = ' + "'" + 'USING CRON ' + desiredState.config.scheduleCRON + "'" %}
        {%- else -%}
            {%- set nsVariables.taskWhenRun = 'AFTER ' -%}
            {%- set predecessorTasks = (desiredState.config.predTask).split(",") -%}

            {%- for p in predecessorTasks -%}
                {%- set nsVariables.taskWhenRun = nsVariables.taskWhenRun + targetTableDatabase + '.' + targetTableSchema + '.' + p -%}
                {%- if not loop.last -%} 
                    {%- set nsVariables.taskWhenRun = nsVariables.taskWhenRun + ',' -%}
                {%- endif %}
            {% endfor %}    
        {%- endif -%}

        {# When Stream has data logic #}
        {# Source Stream Location and Name #}
        {% if desiredState.config.flagSrcStream == true %}
            {% for source in desiredState.sources %}
                {% for dep in source.dependencies %}
                    {% if (dep.node.materializationType == 'stream') %}
                        {% set streamStorageLocation = dep.node.location.name %}
                        {% set streamSourceDatabase = desiredState.storageLocations | selectattr('name', 'equalto', streamStorageLocation) | map(attribute='database') | first %}
                        {% set streamSourceSchema = desiredState.storageLocations | selectattr('name', 'equalto', streamStorageLocation) | map(attribute='schema') | first %}
                        {% set streamSourceName = dep.node.name %}

                        {%- if nsVariables.poll == 'WHEN ' -%}
                            {% set nsVariables.poll = nsVariables.poll + 'SYSTEM$STREAM_HAS_DATA(\'"' + streamSourceDatabase + '"."'  + streamSourceSchema + '"."' + streamSourceName + '"\')'  %}
                        {% else %}
                            {% set nsVariables.poll = nsVariables.poll + desiredState.config.multiStreamBehavior + ' SYSTEM$STREAM_HAS_DATA(\'"' + streamSourceDatabase + '"."'  + streamSourceSchema + '"."' + streamSourceName + '"\')'  %}
                        {%- endif -%}
                    {%- endif -%}
                {% endfor %}
            {% endfor %}
        {% endif -%}

        {# To mimic truncate behavior #}
        {% if desiredState.config.truncateBefore == true %}
            {% set truncateBehavior = 'INSERT OVERWRITE' %}
        {% else %}
            {% set truncateBehavior = 'INSERT' %}
        {% endif -%}

        CREATE OR REPLACE TASK 
            {{ fullyQualifiedTaskName }} 
            {{ taskType}} 
            {{ nsVariables.taskWhenRun }} 
            {% if nsVariables.poll != 'WHEN ' %} {{ nsVariables.poll }} {% endif %}
        AS 
        {% set is_type_2 = desiredState.columns | selectattr("isChangeTracking") | list | length > 0 %}

        {% if is_type_2 %}
            
            

            /* Type 2 With Change Tracking */
            MERGE INTO {{ fullyQualifiedTargetTableName }} "TGT"
            USING (
            {% for source in desiredState.sources %}

                
                
                /* New Rows That Don't Exist */
                {% if loop.first %}
                (SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {% for col in desiredState.columns if not col.isSurrogateKey %}
                    {% if col.isSystemVersion %}
                        1
                    {% elif col.isSystemCurrentFlag %}
                        'Y'
                    {% else %}
                    "RI"."{{ col.name }}"
                    {% endif %}
                    AS "{{ col.name }}",
                {% endfor %}
                'INSERT_INITAL_VERSION_ROWS' AS "DML_OPERATION"
                FROM (
                {% endif %}
                SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {% for col in source.columns if not col.isSurrogateKey %}
                    {% if col.isSystemVersion %}
                        1
                    {% elif col.isSystemCurrentFlag %}
                        'Y'
                    {% else %}
                    {{ get_source_transform(col) }}
                    {% endif %}
                    AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
                {% endfor %}
                {{  source.join  }}
                {% if not loop.last %}
                    {{ desiredState.config.insertStrategy }}
                {% endif %}
                {% if loop.last %}
                    ) "RI"
                {% endif %}
            {% endfor %}
                LEFT JOIN {{ fullyQualifiedTargetTableName }} "DIM" ON
                {% for col in desiredState.columns if col.isBusinessKey -%}
                    {% if not loop.first %}
                        AND
                    {% endif %}
                        "RI"."{{ col.name }}" = "DIM"."{{ col.name }}"
                {% endfor %}
                WHERE
                {% for col in desiredState.columns if col.isBusinessKey -%}
                    {% if not loop.first %}
                        AND
                    {% endif %}
                    "DIM"."{{ col.name }}" IS NULL
                {% endfor %}
                
                {% if desiredState.config.groupByAll %}GROUP BY ALL{% endif %}
                {{ sortorder_by_colv() }})

                UNION ALL
                /* New Row Needing To Be Inserted Due To Type-2 Column Changes */
            {% for source in desiredState.sources %}

               
                {% if loop.first %}
               ( SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {% for col in desiredState.columns if not col.isSurrogateKey %}
                    {% if col.isSystemVersion %}
                        "DIM"."{{ col.name }}" + 1
                    {% elif col.isSystemCurrentFlag %}
                        'Y'
                    {% else %}
                    "RIC"."{{ col.name }}"
                    {% endif %}
                    AS "{{ col.name }}",
                {% endfor %}
                    'INSERT_NEW_VERSION_ROWS' AS "DML_OPERATION"
                FROM (
                {% endif %}
                 SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {% for col in source.columns if not (col.isSurrogateKey) -%}
                    {{ get_source_transform(col) }} AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
                {% endfor %}
                {{ source.join  }}
                {% if not loop.last %}
                    {{ desiredState.config.insertStrategy }}
                {% endif %}
                {% if loop.last %}
                    ) "RIC"
                {% endif %}
                {% endfor %}
                INNER JOIN {{ fullyQualifiedTargetTableName }} "DIM" ON
                {% for col in desiredState.columns if col.isBusinessKey -%}
                    {% if not loop.first %}
                        AND
                    {% endif %}
                        "RIC"."{{ col.name }}" = "DIM"."{{ col.name }}"
                {% endfor %}
                WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
                {% for col in desiredState.columns if (col.isChangeTracking == true) %}
                    {% if loop.first %}
                        AND (
                    {% else %}
                        OR
                    {% endif %}
                    ( NVL( CAST("RIC"."{{ col.name }}" as STRING), '**NULL**') <> NVL( CAST("DIM"."{{ col.name }}" as STRING), '**NULL**') )
                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
              
                {% if desiredState.config.groupByAll %}GROUP BY ALL{% endif %}
                            {{ sortorder_by_colv() }}  )

                UNION ALL
                /* Rows Needing To Be Expired Due To Type-2 Column Changes
                In this case, only two columns are merged (version and end date) */
            {% for source in desiredState.sources %}
               
               

                {% if loop.first %}
                (SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {%- for col in source.columns if not col.isSurrogateKey %}
                    {% if col.isSystemEndDate %}
                        DATEADD(MILLISECONDS, -1, CAST(CURRENT_TIMESTAMP AS TIMESTAMP))
                    {% elif col.isSystemCurrentFlag %}
                        'N'
                    {% else %}
                        "DIM"."{{ col.name }}"
                    {% endif %}
                    AS "{{ col.name }}",
                {% endfor -%}
                    'update_expired_version_rows' AS "DML_OPERATION"
                FROM (
                {% endif %}
                SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {% for col in source.columns if not (col.isSurrogateKey or
                                                        col.isSystemVersion or
                                                        col.isSystemCurrentFlag or
                                                        col.isSystemStartDate or
                                                        col.isSystemEndDate or
                                                        col.isSystemUpdateDate or
                                                        col.isSystemCreateDate) -%}
                    {{ get_source_transform(col) }} AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
                {% endfor %}
                {{  source.join  }}
                {% if not loop.last %}
                    {{ desiredState.config.insertStrategy }}
                {% endif %}
                {% if loop.last %}
                    ) "RIE"
                {% endif %}
            {% endfor %}
                INNER JOIN {{ fullyQualifiedTargetTableName }} "DIM" ON
                {% for col in desiredState.columns if col.isBusinessKey -%}
                    {% if not loop.first %}
                        AND
                    {% endif %}
                    "RIE"."{{ col.name }}" = "DIM"."{{ col.name }}"
                {% endfor %}
                WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
                {% for col in desiredState.columns if (col.isChangeTracking == true) %}
                    {% if loop.first %}
                        AND (
                    {% else %}
                        OR
                    {% endif %}
                    ( NVL( CAST("RIE"."{{ col.name }}" as STRING), '**NULL**') <> NVL( CAST("DIM"."{{ col.name }}" as STRING), '**NULL**') )
                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
               
                {% if desiredState.config.groupByAll %}GROUP BY ALL{% endif %}
                      {{ sortorder_by_colv() }})
                

                UNION ALL

                /* Rows Needing To Be Updated Due To Changes To Non-Type-2 source.columns
                This case merges only when there are changes in non-type-2 column updates, but no changes in type-2 columns*/
            {% for source in desiredState.sources %}

                

                {% if loop.first %}
                (SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {%- for col in desiredState.columns if not col.isSurrogateKey %}
                    {% if col.isSystemVersion or col.isSystemCreateDate or col.isSystemStartDate or col.isSystemEndDate %}
                        "DIM"."{{ col.name }}"
                    {% elif col.isSystemCurrentFlag %}
                        'Y'
                    {% else %}
                        "RU"."{{ col.name }}"
                    {% endif %}
                    AS "{{ col.name }}",
                {% endfor -%}
                    'UPDATE_NON_TYPE2_ROWS' AS "DML_OPERATION"
                FROM (
                {% endif %}
                SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {%- for col in source.columns if not col.isSurrogateKey %}
                    {% if col.isSystemCurrentFlag %}
                        'Y'
                    {% else %}
                        {{ get_source_transform(col) }}
                    {% endif %}
                    AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
                {% endfor -%}
                {{  source.join  }}
                {% if not loop.last %}
                   {{ desiredState.config.insertStrategy }}
                {% endif %}
                {% if loop.last %}
                    ) "RU"
                {% endif %}
            {% endfor %}
                INNER JOIN {{ fullyQualifiedTargetTableName }} "DIM" ON
                {% for col in desiredState.columns if col.isBusinessKey -%}
                    {% if not loop.first %}
                        AND
                    {% endif %}
                    "RU"."{{ col.name }}" = "DIM"."{{ col.name }}"
                {% endfor %}
                WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
                AND (
                {% for col in desiredState.columns if (col.isChangeTracking) -%}
                    {% if not loop.first %}
                        AND
                    {% endif %}
                    "RU"."{{ col.name }}" = "DIM"."{{ col.name }}"
                {% endfor %} )
                {% for col in desiredState.columns if not (   col.isBusinessKey or
                                                        col.isChangeTracking or
                                                        col.isSurrogateKey or
                                                        col.isSystemVersion or
                                                        col.isSystemCurrentFlag or
                                                        col.isSystemStartDate or
                                                        col.isSystemEndDate or
                                                        col.isSystemUpdateDate or
                                                        col.isSystemCreateDate) -%}
                    {% if loop.first %}
                        AND (
                    {% endif %}
                    {% if not loop.first %}
                        OR
                    {% endif %}
                    NVL( CAST("RU"."{{ col.name }}" as STRING), '**NULL**') <> NVL( CAST("DIM"."{{ col.name }}" as STRING), '**NULL**')
                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
                
                {% if desiredState.config.groupByAll %}GROUP BY ALL{% endif %}
                 {{ sortorder_by_colv() }})
            ) AS "SRC"
            ON
            {% for col in desiredState.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {% endfor %}
            AND "TGT"."{{ get_value_by_column_attribute("isSystemVersion") }}" = "SRC"."{{ get_value_by_column_attribute("isSystemVersion") }}"
            WHEN MATCHED THEN UPDATE SET
            {%- for col in desiredState.columns %}
                {% if not (col.isBusinessKey or col.isSurrogateKey or col.isSystemCreateDate) %}
                "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
                {% if not loop.last %}, {% endif %}
                {% endif %}
            {% endfor -%}
            WHEN NOT MATCHED THEN INSERT (
            {%- for col in desiredState.columns if not col.isSurrogateKey %}
                "{{ col.name }}"
                {% if not loop.last %}, {% endif %}
            {% endfor -%}
            )
            VALUES (
            {%- for col in desiredState.columns if not col.isSurrogateKey %}
                "SRC"."{{ col.name }}"
                {% if not loop.last %}, {% endif %}
            {% endfor -%}
            )

        {% else %}

            /* Type 1 With No Change Tracking */
            MERGE INTO {{ fullyQualifiedTargetTableName }} "TGT"
            USING (
            {% for source in desiredState.sources %}
                {% if loop.first %}
                
                    SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {% for col in desiredState.columns if not col.isSurrogateKey %}
                    {% if col.isSystemVersion %}
                        1
                    {% elif col.isSystemCurrentFlag %}
                        'Y'
                    {% else %}
                    "{{ col.name }}"
                    {% endif %}
                    AS "{{ col.name }}",
                {% endfor %}
                'INSERT_INITAL_VERSION_ROWS' AS "DML_OPERATION"
                FROM (
                {% endif %}
                (SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
                {% for col in source.columns if not col.isSurrogateKey %}
                    {% if col.isSystemVersion %}
                        1
                    {% elif col.isSystemCurrentFlag %}
                        'Y'
                    {% else %}
                    {{ get_source_transform(col) }}
                    {% endif %}
                    AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
                {% endfor %}
                {{ source.join }}
                {% if desiredState.config.groupByAll %}GROUP BY ALL{% endif %}
                {{ sortorder_by_colv() }})
                {% if not loop.last %}
                   {{ desiredState.config.insertStrategy }}
                {% endif %}               
                {% if loop.last %}
                    )) "SRC"
                {% endif %}
            {% endfor %}
                ON
                {% for col in desiredState.columns if col.isBusinessKey -%}
                    {% if not loop.first %}
                        AND
                    {% endif %}
                    "SRC"."{{ col.name }}" = "TGT"."{{ col.name }}"
                {% endfor %}
                WHEN MATCHED
                {% for col in desiredState.columns if not (   col.isBusinessKey or
                                                        col.isSurrogateKey or
                                                        col.isSystemVersion or
                                                        col.isSystemCurrentFlag or
                                                        col.isSystemStartDate or
                                                        col.isSystemEndDate or
                                                        col.isSystemUpdateDate or
                                                        col.isSystemCreateDate) %}
                    {% if loop.first %}
                        AND (
                    {% else %}
                        OR
                    {% endif %}
                    NVL( CAST("SRC"."{{ col.name }}" as STRING), '**NULL**') <> NVL( CAST("TGT"."{{ col.name }}" as STRING), '**NULL**')
                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
                THEN UPDATE SET
                {%- for col in desiredState.columns if not (  col.isBusinessKey or
                                                        col.isSurrogateKey or
                                                        col.isSystemVersion or
                                                        col.isSystemCurrentFlag or
                                                        col.isSystemStartDate or
                                                        col.isSystemEndDate or
                                                        col.isSystemCreateDate) %}
                        "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
                WHEN NOT MATCHED THEN
                INSERT (
                {%- for col in desiredState.columns if not col.isSurrogateKey %}
                    "{{ col.name }}"
                    {% if not loop.last %}, {% endif %}
                {% endfor -%}
                )
                VALUES (
                {%- for col in desiredState.columns if not col.isSurrogateKey %}
                    "SRC"."{{ col.name }}"
                    {% if not loop.last %}, {% endif %}
                {% endfor -%}
                )
        {% endif %}

        {%- if desiredState.config.schedulePeriodOption != 'Predecessor' -%} 
            {{ stage('Resume Created Task', true, "sql", "alter") }}
            ALTER TASK {{ fullyQualifiedTaskName }} RESUME;
        {%- endif -%}

    {% else %}
        {{ stage('Development Mode - No Task.') }}
        select 1 = 0
        
    {%- endif -%}
    
{% elif currentState != undefined and desiredState == undefined %}

    {# Target Table Info #}
    {% set targetTableDatabase = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[0] %} 
    {% set targetTableSchema = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[1] %} 
    {% set fullyQualifiedTargetTableName = ref_no_link(currentState.node.location.name, currentState.node.name) %}

    {% if currentState.config.devMode == false %}
        {# FQ Root Task name #}
        {% set fullyQualifiedRootTaskName = targetTableDatabase + '.' + targetTableSchema + '."' + currentState.config.rootTask + '"'%}

        {# Task Info #}
        {% set taskName = currentState.node.name + '_TASK'  %}
        {%- set fullyQualifiedTaskName = targetTableDatabase + '.' + targetTableSchema + '."' + taskName + '"' -%} 

        {%- if currentState.config.schedulePeriodOption == 'Predecessor' -%} 
        {{ stage('Suspend Root Task', true, "sql", "drop") }}
            ALTER TASK IF EXISTS {{ fullyQualifiedRootTaskName }} SUSPEND
        {{ stage('Drop Current Task', true, "sql", "drop") }}
            DROP TASK IF EXISTS {{ fullyQualifiedTaskName }} 
        {%- else -%}
        {{ stage('Drop Current Task', true, "sql", "drop") }}
            DROP TASK IF EXISTS {{ fullyQualifiedTaskName }} 
        {%- endif -%}
    {%- endif -%}

{%- else -%}

{{ stage('No task edits.  Unknown state.') }}
select 1 = 0

{% endif %}
