{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : Work With Task == #}
{# == Node Type Description    : This node loads data into work table == #}

{# Development mode -To test the SQL the task will execute to make sure it runs without errors and returns the expected data #}

{% if config.devMode == true %}

        {# To mimic truncate behavior #}
        {% if config.truncateBefore == true %}
            {% set truncateBehavior = 'INSERT OVERWRITE' %}
        {% else %}
            {% set truncateBehavior = 'INSERT' %}
        {% endif -%}

    {{ stage('Insert Data') }}

                {{ truncateBehavior }} INTO {{ ref_no_link(node.location.name, node.name) }}
                    (
                        {% for col in columns %}
                            "{{ col.name }}"
                            {%- if not loop.last -%},{% endif %}
                        {% endfor %}
                    )
        
            {% for source in sources %}
                /* Combine Sources if needed */
                {% if loop.first %}
                    SELECT {% if config.selectDistinct %} DISTINCT {% endif %}
                    {% for col in columns  %}
                        "{{ col.name }}" AS "{{ col.name }}"
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                    FROM (
                {% endif %}
                SELECT {% if config.selectDistinct %} DISTINCT {% endif %}
                {% for col in source.columns if not col.isSurrogateKey %}
                    {{ get_source_transform(col) }} AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
                {% endfor %}
                {{ source.join }}
                {% if not loop.last %}
                    {{ config.insertStrategy }}
                {% endif %}
                {% if loop.last %}
                    )
                {% endif %}
            {% endfor %}
            {% if config.groupByAll %}GROUP BY ALL{% endif %}
             {{sortorder_by_colv()}}
{% endif -%}